.xray.host {
    display: block;
    margin: 2px;
    padding: 2px;
    position: relative;
    border: 1px solid green;
}
.xray.host.displayed {
    border-width: 5px;
}
.xray .header {
    cursor: pointer;
    margin: 0.3em 0;
}
.xray .headericon {
    float: right;
    margin-right: 5px;
}
.xray .details {
    display: none;
}
.xray .details.expanded {
    display: block;
}
.xray .details {
    white-space: pre-wrap;
    position: absolute;
    background-color: white;
    color: black;
    top: 0;
    left: 0;
    z-index: 10;
    border: 1px solid;
    padding: 10px
}
.xray .details td, th {
    border: 1px solid #ddd !important;
    padding: 8px !important;
}

.xray .details tr:nth-child(even) {
    background-color: #f2f2f2 !important;
}

.xray .details tr:hover {
    background-color: #ddd !important;
}

.xray .details th {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    text-align: left !important;
    background-color: #04AA6D !important;
    color: white !important;
}