/* You can add global styles to this file, and also import other style files */
@use '@carbon/react';

.header {
  margin-bottom: 5rem;

  .cds--header {
    background-color: white;
  }
}

.sub-heading {
  margin-bottom: 1.5rem;
}

.main {
  padding: 50px;
}

.cds--header-panel--expanded {
  padding: 10px;
  background-color: white;
  overflow-y: scroll;
  width: 500px;
}

.main,
.cds--header-panel--expanded {

  h4,
  .cds--label,
  .cds--btn {
    margin-top: 1.5rem;
  }
}

.btn-group {
  .cds--btn {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin-right: 5px;
    margin-top: 5px;
  }
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(1rem);
}

.three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(1rem);
}


dt {
  display: inline-block;
  width: 30%;
  margin-top: 1.5rem;
}

dd {
  display: inline-block;
  width: 70%;
  margin-top: 1.5rem;
}

table {
  margin-top: 15px;
  margin-bottom: 15px;
}

p {
  margin-bottom: 10px;
}