@use 'node_modules/nhsuk-frontend/packages/nhsuk';

.margin-right {
    margin-right: 16px;
}

dialog {
    max-width: 50%;
    margin: auto;
}

.two-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(1rem);
}

.three-column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(1rem);
}