.mds-container {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  
  @media screen and (min-width: 576px), print {
    .mds-container {
      max-width: 540px;
    }
  }
  @media screen and (min-width: 768px), print {
    .mds-container {
      max-width: 720px;
    }
  }
  @media screen and (min-width: 992px), print {
    .mds-container {
      max-width: 960px;
    }
  }
  @media screen and (min-width: 1200px), print {
    .mds-container {
      max-width: 1140px;
    }
  }
  .mds-container-fluid, .mds-container-at-1200, .mds-container-at-992, .mds-container-at-768, .mds-container-at-576 {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }
  
  @media screen and (min-width: 576px), print {
    .mds-container-at-576, .mds-container {
      max-width: var(--mds-container-max-width-at-576, 540px);
    }
  }
  @media screen and (min-width: 768px), print {
    .mds-container-at-768, .mds-container-at-576, .mds-container {
      max-width: var(--mds-container-max-width-at-768, 720px);
    }
  }
  @media screen and (min-width: 992px), print {
    .mds-container-at-992, .mds-container-at-768, .mds-container-at-576, .mds-container {
      max-width: var(--mds-container-max-width-at-992, 960px);
    }
  }
  @media screen and (min-width: 1200px), print {
    .mds-container-at-1200, .mds-container-at-992, .mds-container-at-768, .mds-container-at-576, .mds-container {
      max-width: var(--mds-container-max-width-at-1200, 1140px);
    }
  }
  .mds-row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
  }
  
  .mds-no-gutters {
    margin-left: 0;
    margin-right: 0;
  }
  
  .mds-no-gutters > .mds-col,
  .mds-no-gutters > [class*=mds-col-] {
    padding-left: 0;
    padding-right: 0;
  }
  
  .mds-col-at-1200,
  .mds-col-at-1200-auto, .mds-col-at-1200-12, .mds-col-at-1200-11, .mds-col-at-1200-10, .mds-col-at-1200-9, .mds-col-at-1200-8, .mds-col-at-1200-7, .mds-col-at-1200-6, .mds-col-at-1200-5, .mds-col-at-1200-4, .mds-col-at-1200-3, .mds-col-at-1200-2, .mds-col-at-1200-1, .mds-col-at-992,
  .mds-col-at-992-auto, .mds-col-at-992-12, .mds-col-at-992-11, .mds-col-at-992-10, .mds-col-at-992-9, .mds-col-at-992-8, .mds-col-at-992-7, .mds-col-at-992-6, .mds-col-at-992-5, .mds-col-at-992-4, .mds-col-at-992-3, .mds-col-at-992-2, .mds-col-at-992-1, .mds-col-at-768,
  .mds-col-at-768-auto, .mds-col-at-768-12, .mds-col-at-768-11, .mds-col-at-768-10, .mds-col-at-768-9, .mds-col-at-768-8, .mds-col-at-768-7, .mds-col-at-768-6, .mds-col-at-768-5, .mds-col-at-768-4, .mds-col-at-768-3, .mds-col-at-768-2, .mds-col-at-768-1, .mds-col-at-576,
  .mds-col-at-576-auto, .mds-col-at-576-12, .mds-col-at-576-11, .mds-col-at-576-10, .mds-col-at-576-9, .mds-col-at-576-8, .mds-col-at-576-7, .mds-col-at-576-6, .mds-col-at-576-5, .mds-col-at-576-4, .mds-col-at-576-3, .mds-col-at-576-2, .mds-col-at-576-1, .mds-col,
  .mds-col-auto, .mds-col-12, .mds-col-11, .mds-col-10, .mds-col-9, .mds-col-8, .mds-col-7, .mds-col-6, .mds-col-5, .mds-col-4, .mds-col-3, .mds-col-2, .mds-col-1 {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;
  }
  
  @media screen and (min-width: 576px), print {
    .mds-col-at-1200,
    .mds-col-at-1200-auto, .mds-col-at-1200-12, .mds-col-at-1200-11, .mds-col-at-1200-10, .mds-col-at-1200-9, .mds-col-at-1200-8, .mds-col-at-1200-7, .mds-col-at-1200-6, .mds-col-at-1200-5, .mds-col-at-1200-4, .mds-col-at-1200-3, .mds-col-at-1200-2, .mds-col-at-1200-1, .mds-col-at-992,
    .mds-col-at-992-auto, .mds-col-at-992-12, .mds-col-at-992-11, .mds-col-at-992-10, .mds-col-at-992-9, .mds-col-at-992-8, .mds-col-at-992-7, .mds-col-at-992-6, .mds-col-at-992-5, .mds-col-at-992-4, .mds-col-at-992-3, .mds-col-at-992-2, .mds-col-at-992-1, .mds-col-at-768,
    .mds-col-at-768-auto, .mds-col-at-768-12, .mds-col-at-768-11, .mds-col-at-768-10, .mds-col-at-768-9, .mds-col-at-768-8, .mds-col-at-768-7, .mds-col-at-768-6, .mds-col-at-768-5, .mds-col-at-768-4, .mds-col-at-768-3, .mds-col-at-768-2, .mds-col-at-768-1, .mds-col-at-576,
    .mds-col-at-576-auto, .mds-col-at-576-12, .mds-col-at-576-11, .mds-col-at-576-10, .mds-col-at-576-9, .mds-col-at-576-8, .mds-col-at-576-7, .mds-col-at-576-6, .mds-col-at-576-5, .mds-col-at-576-4, .mds-col-at-576-3, .mds-col-at-576-2, .mds-col-at-576-1, .mds-col,
    .mds-col-auto, .mds-col-12, .mds-col-11, .mds-col-10, .mds-col-9, .mds-col-8, .mds-col-7, .mds-col-6, .mds-col-5, .mds-col-4, .mds-col-3, .mds-col-2, .mds-col-1 {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
  @media screen and (min-width: 768px), print {
    .mds-col-at-1200,
    .mds-col-at-1200-auto, .mds-col-at-1200-12, .mds-col-at-1200-11, .mds-col-at-1200-10, .mds-col-at-1200-9, .mds-col-at-1200-8, .mds-col-at-1200-7, .mds-col-at-1200-6, .mds-col-at-1200-5, .mds-col-at-1200-4, .mds-col-at-1200-3, .mds-col-at-1200-2, .mds-col-at-1200-1, .mds-col-at-992,
    .mds-col-at-992-auto, .mds-col-at-992-12, .mds-col-at-992-11, .mds-col-at-992-10, .mds-col-at-992-9, .mds-col-at-992-8, .mds-col-at-992-7, .mds-col-at-992-6, .mds-col-at-992-5, .mds-col-at-992-4, .mds-col-at-992-3, .mds-col-at-992-2, .mds-col-at-992-1, .mds-col-at-768,
    .mds-col-at-768-auto, .mds-col-at-768-12, .mds-col-at-768-11, .mds-col-at-768-10, .mds-col-at-768-9, .mds-col-at-768-8, .mds-col-at-768-7, .mds-col-at-768-6, .mds-col-at-768-5, .mds-col-at-768-4, .mds-col-at-768-3, .mds-col-at-768-2, .mds-col-at-768-1, .mds-col-at-576,
    .mds-col-at-576-auto, .mds-col-at-576-12, .mds-col-at-576-11, .mds-col-at-576-10, .mds-col-at-576-9, .mds-col-at-576-8, .mds-col-at-576-7, .mds-col-at-576-6, .mds-col-at-576-5, .mds-col-at-576-4, .mds-col-at-576-3, .mds-col-at-576-2, .mds-col-at-576-1, .mds-col,
    .mds-col-auto, .mds-col-12, .mds-col-11, .mds-col-10, .mds-col-9, .mds-col-8, .mds-col-7, .mds-col-6, .mds-col-5, .mds-col-4, .mds-col-3, .mds-col-2, .mds-col-1 {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  @media screen and (min-width: 992px), print {
    .mds-col-at-1200,
    .mds-col-at-1200-auto, .mds-col-at-1200-12, .mds-col-at-1200-11, .mds-col-at-1200-10, .mds-col-at-1200-9, .mds-col-at-1200-8, .mds-col-at-1200-7, .mds-col-at-1200-6, .mds-col-at-1200-5, .mds-col-at-1200-4, .mds-col-at-1200-3, .mds-col-at-1200-2, .mds-col-at-1200-1, .mds-col-at-992,
    .mds-col-at-992-auto, .mds-col-at-992-12, .mds-col-at-992-11, .mds-col-at-992-10, .mds-col-at-992-9, .mds-col-at-992-8, .mds-col-at-992-7, .mds-col-at-992-6, .mds-col-at-992-5, .mds-col-at-992-4, .mds-col-at-992-3, .mds-col-at-992-2, .mds-col-at-992-1, .mds-col-at-768,
    .mds-col-at-768-auto, .mds-col-at-768-12, .mds-col-at-768-11, .mds-col-at-768-10, .mds-col-at-768-9, .mds-col-at-768-8, .mds-col-at-768-7, .mds-col-at-768-6, .mds-col-at-768-5, .mds-col-at-768-4, .mds-col-at-768-3, .mds-col-at-768-2, .mds-col-at-768-1, .mds-col-at-576,
    .mds-col-at-576-auto, .mds-col-at-576-12, .mds-col-at-576-11, .mds-col-at-576-10, .mds-col-at-576-9, .mds-col-at-576-8, .mds-col-at-576-7, .mds-col-at-576-6, .mds-col-at-576-5, .mds-col-at-576-4, .mds-col-at-576-3, .mds-col-at-576-2, .mds-col-at-576-1, .mds-col,
    .mds-col-auto, .mds-col-12, .mds-col-11, .mds-col-10, .mds-col-9, .mds-col-8, .mds-col-7, .mds-col-6, .mds-col-5, .mds-col-4, .mds-col-3, .mds-col-2, .mds-col-1 {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  @media screen and (min-width: 1200px), print {
    .mds-col-at-1200,
    .mds-col-at-1200-auto, .mds-col-at-1200-12, .mds-col-at-1200-11, .mds-col-at-1200-10, .mds-col-at-1200-9, .mds-col-at-1200-8, .mds-col-at-1200-7, .mds-col-at-1200-6, .mds-col-at-1200-5, .mds-col-at-1200-4, .mds-col-at-1200-3, .mds-col-at-1200-2, .mds-col-at-1200-1, .mds-col-at-992,
    .mds-col-at-992-auto, .mds-col-at-992-12, .mds-col-at-992-11, .mds-col-at-992-10, .mds-col-at-992-9, .mds-col-at-992-8, .mds-col-at-992-7, .mds-col-at-992-6, .mds-col-at-992-5, .mds-col-at-992-4, .mds-col-at-992-3, .mds-col-at-992-2, .mds-col-at-992-1, .mds-col-at-768,
    .mds-col-at-768-auto, .mds-col-at-768-12, .mds-col-at-768-11, .mds-col-at-768-10, .mds-col-at-768-9, .mds-col-at-768-8, .mds-col-at-768-7, .mds-col-at-768-6, .mds-col-at-768-5, .mds-col-at-768-4, .mds-col-at-768-3, .mds-col-at-768-2, .mds-col-at-768-1, .mds-col-at-576,
    .mds-col-at-576-auto, .mds-col-at-576-12, .mds-col-at-576-11, .mds-col-at-576-10, .mds-col-at-576-9, .mds-col-at-576-8, .mds-col-at-576-7, .mds-col-at-576-6, .mds-col-at-576-5, .mds-col-at-576-4, .mds-col-at-576-3, .mds-col-at-576-2, .mds-col-at-576-1, .mds-col,
    .mds-col-auto, .mds-col-12, .mds-col-11, .mds-col-10, .mds-col-9, .mds-col-8, .mds-col-7, .mds-col-6, .mds-col-5, .mds-col-4, .mds-col-3, .mds-col-2, .mds-col-1 {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .mds-col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }
  
  .mds-col-auto {
    flex: 0 0 auto;
    max-width: 100%;
    width: auto;
  }
  
  .mds-col-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  
  .mds-col-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  
  .mds-col-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .mds-col-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  
  .mds-col-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  
  .mds-col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  
  .mds-col-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  
  .mds-col-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  
  .mds-col-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  
  .mds-col-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  
  .mds-col-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  
  .mds-col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  
  .mds-offset-1 {
    margin-left: 8.3333333333%;
  }
  
  .mds-offset-2 {
    margin-left: 16.6666666667%;
  }
  
  .mds-offset-3 {
    margin-left: 25%;
  }
  
  .mds-offset-4 {
    margin-left: 33.3333333333%;
  }
  
  .mds-offset-5 {
    margin-left: 41.6666666667%;
  }
  
  .mds-offset-6 {
    margin-left: 50%;
  }
  
  .mds-offset-7 {
    margin-left: 58.3333333333%;
  }
  
  .mds-offset-8 {
    margin-left: 66.6666666667%;
  }
  
  .mds-offset-9 {
    margin-left: 75%;
  }
  
  .mds-offset-10 {
    margin-left: 83.3333333333%;
  }
  
  .mds-offset-11 {
    margin-left: 91.6666666667%;
  }
  
  @media screen and (min-width: 576px), print {
    .mds-col-at-576 {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .mds-col-at-576-auto {
      flex: 0 0 auto;
      max-width: 100%;
      width: auto;
    }
    .mds-col-at-576-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .mds-col-at-576-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .mds-col-at-576-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .mds-col-at-576-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .mds-col-at-576-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .mds-col-at-576-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .mds-col-at-576-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .mds-col-at-576-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .mds-col-at-576-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .mds-col-at-576-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .mds-col-at-576-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .mds-col-at-576-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .mds-offset-at-576-0 {
      margin-left: 0;
    }
    .mds-offset-at-576-1 {
      margin-left: 8.3333333333%;
    }
    .mds-offset-at-576-2 {
      margin-left: 16.6666666667%;
    }
    .mds-offset-at-576-3 {
      margin-left: 25%;
    }
    .mds-offset-at-576-4 {
      margin-left: 33.3333333333%;
    }
    .mds-offset-at-576-5 {
      margin-left: 41.6666666667%;
    }
    .mds-offset-at-576-6 {
      margin-left: 50%;
    }
    .mds-offset-at-576-7 {
      margin-left: 58.3333333333%;
    }
    .mds-offset-at-576-8 {
      margin-left: 66.6666666667%;
    }
    .mds-offset-at-576-9 {
      margin-left: 75%;
    }
    .mds-offset-at-576-10 {
      margin-left: 83.3333333333%;
    }
    .mds-offset-at-576-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media screen and (min-width: 768px), print {
    .mds-col-at-768 {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .mds-col-at-768-auto {
      flex: 0 0 auto;
      max-width: 100%;
      width: auto;
    }
    .mds-col-at-768-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .mds-col-at-768-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .mds-col-at-768-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .mds-col-at-768-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .mds-col-at-768-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .mds-col-at-768-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .mds-col-at-768-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .mds-col-at-768-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .mds-col-at-768-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .mds-col-at-768-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .mds-col-at-768-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .mds-col-at-768-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .mds-offset-at-768-0 {
      margin-left: 0;
    }
    .mds-offset-at-768-1 {
      margin-left: 8.3333333333%;
    }
    .mds-offset-at-768-2 {
      margin-left: 16.6666666667%;
    }
    .mds-offset-at-768-3 {
      margin-left: 25%;
    }
    .mds-offset-at-768-4 {
      margin-left: 33.3333333333%;
    }
    .mds-offset-at-768-5 {
      margin-left: 41.6666666667%;
    }
    .mds-offset-at-768-6 {
      margin-left: 50%;
    }
    .mds-offset-at-768-7 {
      margin-left: 58.3333333333%;
    }
    .mds-offset-at-768-8 {
      margin-left: 66.6666666667%;
    }
    .mds-offset-at-768-9 {
      margin-left: 75%;
    }
    .mds-offset-at-768-10 {
      margin-left: 83.3333333333%;
    }
    .mds-offset-at-768-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media screen and (min-width: 992px), print {
    .mds-col-at-992 {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .mds-col-at-992-auto {
      flex: 0 0 auto;
      max-width: 100%;
      width: auto;
    }
    .mds-col-at-992-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .mds-col-at-992-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .mds-col-at-992-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .mds-col-at-992-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .mds-col-at-992-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .mds-col-at-992-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .mds-col-at-992-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .mds-col-at-992-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .mds-col-at-992-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .mds-col-at-992-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .mds-col-at-992-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .mds-col-at-992-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .mds-offset-at-992-0 {
      margin-left: 0;
    }
    .mds-offset-at-992-1 {
      margin-left: 8.3333333333%;
    }
    .mds-offset-at-992-2 {
      margin-left: 16.6666666667%;
    }
    .mds-offset-at-992-3 {
      margin-left: 25%;
    }
    .mds-offset-at-992-4 {
      margin-left: 33.3333333333%;
    }
    .mds-offset-at-992-5 {
      margin-left: 41.6666666667%;
    }
    .mds-offset-at-992-6 {
      margin-left: 50%;
    }
    .mds-offset-at-992-7 {
      margin-left: 58.3333333333%;
    }
    .mds-offset-at-992-8 {
      margin-left: 66.6666666667%;
    }
    .mds-offset-at-992-9 {
      margin-left: 75%;
    }
    .mds-offset-at-992-10 {
      margin-left: 83.3333333333%;
    }
    .mds-offset-at-992-11 {
      margin-left: 91.6666666667%;
    }
  }
  @media screen and (min-width: 1200px), print {
    .mds-col-at-1200 {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .mds-col-at-1200-auto {
      flex: 0 0 auto;
      max-width: 100%;
      width: auto;
    }
    .mds-col-at-1200-1 {
      flex: 0 0 8.3333333333%;
      max-width: 8.3333333333%;
    }
    .mds-col-at-1200-2 {
      flex: 0 0 16.6666666667%;
      max-width: 16.6666666667%;
    }
    .mds-col-at-1200-3 {
      flex: 0 0 25%;
      max-width: 25%;
    }
    .mds-col-at-1200-4 {
      flex: 0 0 33.3333333333%;
      max-width: 33.3333333333%;
    }
    .mds-col-at-1200-5 {
      flex: 0 0 41.6666666667%;
      max-width: 41.6666666667%;
    }
    .mds-col-at-1200-6 {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .mds-col-at-1200-7 {
      flex: 0 0 58.3333333333%;
      max-width: 58.3333333333%;
    }
    .mds-col-at-1200-8 {
      flex: 0 0 66.6666666667%;
      max-width: 66.6666666667%;
    }
    .mds-col-at-1200-9 {
      flex: 0 0 75%;
      max-width: 75%;
    }
    .mds-col-at-1200-10 {
      flex: 0 0 83.3333333333%;
      max-width: 83.3333333333%;
    }
    .mds-col-at-1200-11 {
      flex: 0 0 91.6666666667%;
      max-width: 91.6666666667%;
    }
    .mds-col-at-1200-12 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .mds-offset-at-1200-0 {
      margin-left: 0;
    }
    .mds-offset-at-1200-1 {
      margin-left: 8.3333333333%;
    }
    .mds-offset-at-1200-2 {
      margin-left: 16.6666666667%;
    }
    .mds-offset-at-1200-3 {
      margin-left: 25%;
    }
    .mds-offset-at-1200-4 {
      margin-left: 33.3333333333%;
    }
    .mds-offset-at-1200-5 {
      margin-left: 41.6666666667%;
    }
    .mds-offset-at-1200-6 {
      margin-left: 50%;
    }
    .mds-offset-at-1200-7 {
      margin-left: 58.3333333333%;
    }
    .mds-offset-at-1200-8 {
      margin-left: 66.6666666667%;
    }
    .mds-offset-at-1200-9 {
      margin-left: 75%;
    }
    .mds-offset-at-1200-10 {
      margin-left: 83.3333333333%;
    }
    .mds-offset-at-1200-11 {
      margin-left: 91.6666666667%;
    }
  }